{% extends 'base.html' %}

{% block titre %}{{ film.titre }}{% endblock %}

{% block content %}
<h2>{{ film.titre }}</h2>

{% if film.affiche %}
    <img src="{{ film.affiche.url }}" alt="Affiche de {{ film.titre }}" height="300">
{% endif %}

<p><strong>Réalisateur :</strong> {{ film.realisateur }}</p>

<p><strong>Date de sortie :</strong> {{ film.annee_sortie }}</p>
<p><strong>Catégorie :</strong>
    {% if film.categorie %}
        <a href="{% url 'detail_categorie' film.categorie.pk %}">{{ film.categorie.nom }}</a>
    {% else %}
        Non spécifiée
    {% endif %}
</p>

<p><strong>Synopsis :</strong><br>{{ film.synopsis }}</p>

<h3>Acteurs :</h3>
<ul>
    {% for acteur in film.acteurs.all %}
        <li>
            <a href="{% url 'detail_acteur' acteur.pk %}">
                {{ acteur.prenom }} {{ acteur.nom }}
            </a>
        </li>
    {% empty %}
        <li>Aucun acteur associé</li>
    {% endfor %}
</ul>

{% if film.moyenne_notes %}
    <p><strong>Note moyenne :</strong> {{ film.moyenne_notes }}/5</p>
{% endif %}

<a href="{% url 'ajout_commentaire' film.pk %}" class="btn">Ajouter un commentaire</a>
<a href="{% url 'ajout_film' %}" class="btn">Créer un autre film</a>
{% endblock %}
