{% extends 'base.html' %}
{% block titre %}Liste des acteurs{% endblock %}
{% block content %}
<h2>Acteurs enregistrés</h2>
<a href="{% url 'ajout_acteur' %}" class="btn">➕ Ajouter un acteur</a>


<div class="acteur-grid">
    {% for acteur in acteurs %}
    <div class="acteur-card">
        {% if acteur.photo %}
            <img src="{{ acteur.photo.url }}" alt="Photo de {{ acteur.prenom }} {{ acteur.nom }}" class="acteur-photo">
        {% else %}
            <div class="placeholder">Pas de photo</div>
        {% endif %}
        <a href="{% url 'detail_acteur' acteur.pk %}" class="acteur-nom">{{ acteur.prenom }} {{ acteur.nom }}</a>
        <div class="acteur-age">{{ acteur.age }} ans</div>
        <a href="{% url 'modif_acteur' acteur.pk %}" class="btn btn-edit">✏️ Modifier</a>
        <a href="{% url 'suppr_acteur' acteur.pk %}" class="btn btn-delete" onclick="return confirm('Supprimer cet acteur ?')">🗑️ Supprimer</a>
    </div>
    {% empty %}
    <p>Aucun acteur enregistré.</p>
    {% endfor %}
</div>
{% endblock %}
