{% extends 'base.html' %}
{% block titre %}Liste des films{% endblock %}
{% block content %}
<h2>Films enregistrés</h2>
<a href="{% url 'ajout_film' %}" class="btn">➕ Ajouter un film</a>
{% for film in films %}
<div class="film-card">
    <img src="{{ film.affiche.url }}" alt="Affiche de {{ film.titre }}">
    <div class="film-info">
        <h3><a href="{% url 'detail_film' film.pk %}">{{ film.titre }}</a></h3>
        <p>Réalisateur : {{ film.realisateur }}</p>
        <p>Année de sortie : {{ film.annee_sortie }}</p>
        <p>Catégorie : {{ film.categorie.nom }}</p>
    </div>
</div>
{% empty %}
<p>Aucun film enregistré.</p>
{% endfor %}
{% endblock %}
